<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.member.mapper.MemberMapper">
<!-- 로그인 -->
<select id="login" resultType="org.zerock.member.vo.LoginVO">
	select m.id, m.pw, m.nicname, m.grade_image, m.gradeNo, g.gradeName
	from member m, grade g
	where
		<!-- 일반조건 -->
		(id=#{id} and pw=#{pw})
		and
		<!-- 조인조건 -->
		(m.gradeNo = g.gradeNo)
</select>

<update id="updateConDate" parameterType="map">
    update member
    set conDate=sysDate
    where id=#{id}
</update>

<!-- list -->
  <select id="list" resultType="org.zerock.member.vo.MemberVO">
  <!-- 아이디, 회원등급, 회원 상태 [조회] [강퇴/재가입] -->
  select
  	id, nicname, gradeNo, status
  from
  (
	  select
	    rownum rnum, id, nicname, gradeNo, status
	  from
		  (
		  select
		  	id, nicname, gradeNo, status
		  from
		  	member
			)
  )
  where rnum between #{startRow} and  #{endRow}  
  </select>
  
<!-- view -->
  <select id="view" resultType="org.zerock.member.vo.MemberVO">
  <!-- 아이디, 닉네임, 전번, 이메일, 주소, 가입일, 최근 접속일, 회원 등급, 회원 상태 -->
  select m.id, m.nicname, m.tel, m.email, m.address, m.regDate, m.conDate, 
  g.gradeName, m.status, m.gradeNo
 	from member m, grade g
 	where 
  	(id = #{id, jdbcType=VARCHAR})
  	and
  	(m.gradeNo = g.gradeNo)
  </select>

<!-- write -->
  <insert id="write">
  	<!-- 아이디, 닉네임, 비밀번호, 전화번호, 이메일, 주소 -->
  	insert into member(id, nicname, pw, tel, email, address)
  	values(#{id}, #{nicname}, #{pw}, #{tel}, #{email}, #{address})
  </insert>  
  
<!-- ID 중복 체크 -->
	<select id="selectId" resultType="boolean">
	    SELECT COUNT(*) FROM member WHERE id = #{id}
	</select>  
  
<!-- update -->
  <update id="update">
  <!-- 이메일 | 휴대폰 | 비밀번호 | 비밀번호 확인 | 닉네임 -->
  	update member set
	  	email = #{email}, tel = #{tel},
	  	nicname = #{nicname}
	 where
	 	id = #{id} and pw = #{pw}
  </update>
  
<!-- changeGradeNo -->
  <update id="changeGradeNo">
  <!-- gradeNo -->
  	update member set
	  	gradeNo = #{gradeNo}
	 where
	 	id = #{id}
  </update>
  
<!-- changeStatus -->
  <update id="changeStatus">
  <!-- status -->
  	update member set
	  	status = #{status}
	 where
	 	id = #{id}
  </update> 
  
<!-- changePhoto -->  
  <update id="changePhoto">
  <!-- grade_image -->
  	update member set
	  	grade_image = #{grade_image, jdbcType=VARCHAR}
	 where
	 	id = #{id}
  </update> 
      
<!-- delete -->
	
	  <update id="delete">
	  <!-- status -->
	  	update member set
		  	status = '탈퇴'
		 where
		 	id = #{id}
	  </update> 

</mapper>
